<div class="recommendations">
    <h2>Recommendations</h2>
    <ngu-carousel [inputs]="carouselOne">
        <ngu-item NguCarouselItem *ngFor="let product of (products$ | async)">
            <div class="product-image">
                <img src="{{product.thumbnail}}" alt="">
            </div>    
            <p class="title" routerLink='/product/{{product.id}}'>{{product.title}}</p>        
            <p class="price"><strong>{{product.price}}$</strong></p>
        </ngu-item>
        <button NguCarouselPrev class='leftRs'>&lt;</button>
        <button NguCarouselNext class='rightRs'>&gt;</button>        
    </ngu-carousel>
</div>

