<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="btn-container" routerLink="/shop">
      <button class="header-btn" mat-button>Shop</button>
    </a>
    <a *ngIf="(isAuthorized$ | async)" routerLink="/cart" class="cart" >
      <mat-icon>add_shopping_cart</mat-icon>
      <span>{{totalCount$ | async}}</span>
    </a>
    <span class="spacer"></span>
    <a *ngIf="!(isAuthorized$ | async)" class="btn-container" routerLink="/login">
      <button class="header-btn" mat-button>Sign In</button>
    </a>
    <a *ngIf="!(isAuthorized$ | async)" class="btn-container" routerLink="/register">
      <button class="header-btn" mat-button>Sign Up</button>
    </a>
    <a *ngIf="(isAuthorized$ | async)" class="btn-container" (click)="signOut()">
      <button class="header-btn" mat-button>Sign Out</button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
