.app-wish-list {
    margin: 0 auto;
    max-width: 980px;
    min-height: calc(100vh - 148px);
    height: auto;
    padding-top: 20px;
}

.app-wish-list__list {
    list-style: none;
    margin-top: 20px;
}

.app-wish-list__title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.app-wish-list__count {
    font-weight: 700;
}

.app-wish-list__link {
    text-decoration: none;
}
