.product-details {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.spinner-overlay{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-image {
  width:auto;
  max-width: 320px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.product-image>img {
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}
.details-avalible {
  width: 100%;
  margin: 0 auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.addtocard{
  width: 250px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 5px;
  border: 1px solid darkgray;
  border-radius: 7px;
}
.stock-details {
  text-align: center;
  margin-top: 10px;
  padding: 0 15px;
  font-size: 0.8em;
  color: darkgray;
  margin-bottom: 20px;
}
.count-wrapper{
  padding: 0 2px;
  width: 70px !important;
  text-align: center;
}
.description-wrapper{
  width:100%;
}
.description-wrapper > p{
  margin: 30px 0;
}