.shop-container {
  min-height: 50vh;
}

mat-drawer,
mat-drawer-content {
  padding: 20px;
}

mat-drawer {
  min-width: 100px;
  max-width: 500px;
  width: 220px;
  background: #f9f9f9;
  border-right: 1px solid #f2f2f2;
}
