.shop-container {
  min-height: 50vh;
}

mat-drawer,
mat-drawer-content {
  padding: 20px;
}

mat-drawer {
  min-width: 100px;
  max-width: 500px;
  width: 220px;
  background: #f9f9f9;
  border-right: 1px solid #f2f2f2;
}

.view-mode {
  display: flex;
  align-items: center;
}

.view-mode mat-slide-toggle {
  margin-left: 5px;
}

.fa {
  font-size: 20px;
  transition: all.2s ease;
}

.fa:hover, .fa.active {
  color: #3f51b5;
  cursor: pointer;
}

.fa-th {
  margin: 0 5px;
}

.spacer {
  flex: 1 1 auto;
}
