:host{
    width: 100%;
    padding: 20px;
}

.headline {
    text-align: center !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.form-card{
    margin-top:10px;
}
.fxRow>.mat-form-field{
    width: 45%;
}
.mat-form-field{
    width: 100%;
}

.product-desc {
    min-height: 50px;
}
.cart-container {
    max-width: 980px;
    margin: 40px auto;
    background: #fff;
    padding: 25px 30px 35px 30px;
    box-shadow: 0px 1px 12px -3px rgba(28,28,28,1);
}
.fcolumn{
    display: flex;
    flex-direction: column !important;
    width: 90%;
    margin: 0 auto;
}
.fxRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fxFlex2-5 {
    width: 40% !important;
}
.add-category > button{
    width: 20%;
}
.add-product-btn{
    align-self: flex-end;
}