<div class="product-wrapper">
    <mat-toolbar>
        <mat-toolbar class="cart-container">
          <mat-toolbar-row class="cart-header">
            <h2>Create new product</h2>
          </mat-toolbar-row>
          <mat-toolbar-row >
              <form class="example-form">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Favorite food" value="Title">
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <textarea cdkAutosizeTextarea matInput placeholder="Leave a comment"></textarea>
                  </mat-form-field>
                </form>
          </mat-toolbar-row>
        </mat-toolbar>  
      </mat-toolbar>
</div>

  