/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

.auth-container {
  min-height: calc(100vh - 128px);
}

.app-notification-text {
  color: green;
}

.app-notification-text-error {
  color: red;
}

