.title-self,
.title {
  font-weight: 500;
}

.title {
  margin-bottom: 25px;
  border-bottom: 2px solid darkgrey;
  padding-bottom: 5px;
}

.title-self {
  margin-bottom: 5px;
}

.title-self span {
  color: #999;
}

.side-form {
  min-width: 150px;
  max-width: 500px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 48%;
}

.submit {
  transition: all.2s ease;
  border: 1px solid #3f51b5;
  padding: 10px 20px;
  border-radius: 2px;
  background: #9ca9f3;
  cursor: pointer;
}

.submit:hover {
  background: #3f51b5;
  color: #fff;
}
